# Default ignores
.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

# These ideas come from here: https://github.com/microsoft/vscode-python/blob/ef1b46997fc30355d220e9e12046927d3fdafdd5/.vscodeignore#L20
package-lock.json
**/.env
*.vsix
.editorconfig
.env
.eslintrc
.eslintignore
.gitattributes
.gitmodules
.git*
CODE_OF_CONDUCT.md
CODING_STANDARDS.md
CONTRIBUTING.md
.nvm/**
tmp/**
.github/**
scripts/**
build/**
*.log

# My own additions
doc/**
AGENTS.md
testroot/**

# I am NOT excluding CHANGELOG.md, because I think it is used to populate the
# Changelog tab in Marketplace.
